<h1 style="color: brown;">Quan - Angular TODO</h1>

    <!-- Áp dụng Event Binding để thêm công việc ở đây -->
<input type="text" placeholder="Thêm công việc" #input_box />
<button class="primary" type="button" (click)="addTodoList(input_box.value)">
    Thêm
</button>

<h1 style="color: red;">Chưa làm</h1>

<ul>
    <!-- Áp dụng Data Binding ở đây -->
    <app-todo *ngFor="let todo of undoneList" [todo]="todo" (markAsDone)="markAsDone($event)"></app-todo>
</ul>

<h1 style="color: green;">Đã làm</h1>

<ul>
    <!-- Áp dụng Data Binding và EventBinding ở đây -->
    <app-todo *ngFor="let todo of doneList" [todo]="todo"></app-todo>
</ul>